variables:
  CIMPL_SERVICE: partition
  CIMPL_ENABLE_BOOTSTRAP: "true"
  CIMPL_BUILD_BOOTSTRAP_PATH: "devops/core-plus/bootstrap/Dockerfile"
  DISABLE_INTEGRATION_TEST: true

cimpl-containerize-gitlab:
  variables:
    BUILD_ARGS: "--build-arg PORT=$CIMPL_PORT"
    BUILD_PATH: "devops/core-plus/build/Dockerfile"
    TEST_IMAGE: "partition-core-plus-test"
  script:
    - !reference [.cimpl_set_image_name, script]
    - docker build $EXTRA_TAG -f $CIMPL_BUILD_PATH $CIMPL_BUILD_ARGS .
    - docker build -t $CI_REGISTRY_IMAGE/$TEST_IMAGE:$CI_COMMIT_SHORT_SHA -f $CIMPL_BUILD_PATH $CIMPL_BUILD_ARGS .
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker push $CI_REGISTRY_IMAGE/$CIMPL_IMAGE_NAME
    - docker push $CI_REGISTRY_IMAGE/$TEST_IMAGE
  rules:
    - if: "$CI_COMMIT_BRANCH =~ /^release/"
      when: on_success
    - if: "$CI_COMMIT_TAG"
      when: on_success
    - if: "$CIMPL == '1'"
      when: on_success

cimpl-acceptance-test:
  variables:
    PARTITION_BASE_URL: https://osdu.dev1.osdu-cimpl.opengroup.org/
    MY_TENANT: "osdu"

#Dev2 Jobs

cimpl-dev2-acceptance-test:
  variables:
    PARTITION_BASE_URL: https://osdu.dev2.osdu-cimpl.opengroup.org/
    MY_TENANT: "osdu"